$fontSize: 6.4rem;

.main-container {
	width: 900px;
	height: 600px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: $fontSize 536px;
	background-color: white;
	border-radius: 10px;
	padding: 50px 75px;
	filter: drop-shadow(0px 8px 10px rgba(0,0,0,0.5));

	.title {
		grid-column-start: 1;
		grid-column-end: 3;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		h1 {
			font-size: $fontSize;
		}
	}
}
