.color-blob-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.color-blob {
		width: 300px;
		height: 300px;
		background-color: chocolate;
		animation-name: changeBorderRadius;
		animation-duration: 5s;
		animation-timing-function: linear;
		// animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		// animation: changeBorderRadius 2s infinite;
		// border-radius: 1px 0 3px 4px;
	}
	p {
		margin-right: 20px;
		font-size: 3.2rem;
		font-weight: 500;
	}

	.copy-icon {
		width: 30px;
		height: 30px;
		background-image: url("../../img/copy.svg");
		background-size: cover;
		cursor: pointer;
		position: relative;
		&:hover span {
			display: block;
		}
		span {
			font-size: 1.4rem;
			position: absolute;
			width: 110px;
			padding: 5px 10px;
			top: -35px;
			left: -50px;
			box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.3);
			display: none;
			cursor: default;
		}
	}
}

@keyframes changeBorderRadius {
	0%,
	100% {
		border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%;
	}
	25% {
		border-radius: 73% 27% 62% 38% / 73% 36% 64% 27%;
	}
	50% {
		border-radius: 28% 72% 44% 56% / 49% 40% 60% 51%;
	}
	75% {
		border-radius: 40% 60% 70% 30% / 47% 62% 38% 53%;
	}
}
