@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "Roboto", sans-serif;
}

.app-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: burlywood;
}

html{
	font-size: 10px;
}

.flex{
	display:flex;
	align-items: center;
}