.generate-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 15px;

	p {
		font-size: 3.2rem;
		text-align: start;
		margin-bottom: 20px;
	}
	button {
		background-color: black;
		color: white;

		

		// transition-property: background-color;
		// transition-duration: 5s;
		// transition-delay: 2s;
		// transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
		transition: all 0.3s ease-in;
		&:hover {
			background-color: white;
			color: black;
		}
	}

	.btn {
		width: 100%;
		margin: 20px auto;
		border: none;
		padding: 15px;
		margin-top: 40px;
		font-size: 2.4rem;
		text-transform: uppercase;
		// border-bottom: 1px solid black;
		position: relative;
		outline: none;
		cursor: pointer;
		display: flex;
		justify-content: center;
		&::before {
			content: "";
			transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
			width: 0%;
			height: 100%;
			background: black;
			position: absolute;
			top: 0;
			left: 0;
		}
		& .btn-text {
			color: white;
			mix-blend-mode: difference;
		}
		&:hover {
			&::before {
				background: black;
				width: 100%;
			}
		}
	}
}
