@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
.message-info {
  padding: 20px 60px;
  background-color: black;
  border-radius: 10px;
  font-size: 2.4rem;
  margin-bottom: 20px;
  opacity: 0;
  user-select: none;
}

.message-info p {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: burlywood;
}

html {
  font-size: 10px;
}

.flex {
  display: flex;
  align-items: center;
}

.main-container {
  width: 900px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6.4rem 536px;
  background-color: white;
  border-radius: 10px;
  padding: 50px 75px;
  filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.5));
}

.main-container .title {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.main-container .title h1 {
  font-size: 6.4rem;
}

.generate-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

.generate-container p {
  font-size: 3.2rem;
  text-align: start;
  margin-bottom: 20px;
}

.generate-container button {
  background-color: black;
  color: white;
  transition: all 0.3s ease-in;
}

.generate-container button:hover {
  background-color: white;
  color: black;
}

.generate-container .btn {
  width: 100%;
  margin: 20px auto;
  border: none;
  padding: 15px;
  margin-top: 40px;
  font-size: 2.4rem;
  text-transform: uppercase;
  position: relative;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.generate-container .btn::before {
  content: "";
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 0%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
}

.generate-container .btn .btn-text {
  color: white;
  mix-blend-mode: difference;
}

.generate-container .btn:hover::before {
  background: black;
  width: 100%;
}

.color-blob-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.color-blob-container .color-blob {
  width: 300px;
  height: 300px;
  background-color: chocolate;
  animation-name: changeBorderRadius;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.color-blob-container p {
  margin-right: 20px;
  font-size: 3.2rem;
  font-weight: 500;
}

.color-blob-container .copy-icon {
  width: 30px;
  height: 30px;
  background-image: url("../../img/copy.svg");
  background-size: cover;
  cursor: pointer;
  position: relative;
}

.color-blob-container .copy-icon:hover span {
  display: block;
}

.color-blob-container .copy-icon span {
  font-size: 1.4rem;
  position: absolute;
  width: 110px;
  padding: 5px 10px;
  top: -35px;
  left: -50px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.3);
  display: none;
  cursor: default;
}

@keyframes changeBorderRadius {
  0%,
  100% {
    border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%;
  }
  25% {
    border-radius: 73% 27% 62% 38% / 73% 36% 64% 27%;
  }
  50% {
    border-radius: 28% 72% 44% 56% / 49% 40% 60% 51%;
  }
  75% {
    border-radius: 40% 60% 70% 30% / 47% 62% 38% 53%;
  }
}

.footer {
  margin-top: 20px;
}

.footer p {
  font-size: 1.8rem;
}
/*# sourceMappingURL=main.css.map */